<!DOCTYPE html>
<html>
<head>
    <title>电影详情</title>
    <meta name="viewport" content="width=device-width,maximum-scale=1, user-scalable=no"/>
    <meta name="电影详情" content="FengYushan,/2019/4/27"/>
    <meta charset="UTF-8"/>
    <link href="/stylesheets/filmDetail.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-3.4.0.min.js" type="text/javascript"></script>
    <script src="/javascripts/fileDetail.js" type="text/javascript"></script>
</head>
<body>
<div class="nav-bar">
    <ul>
        <li style="margin-left: 5px;">豆瓣</li>
        <li>读书</li>
        <li>电影</li>
        <li>音乐</li>
        <li>同城</li>
        <li>小组</li>
        <li>阅读</li>
        <li>FM</li>
        <li>时间</li>
        <li>豆品</li>
        <li>更多</li>
    </ul>
</div>
<div class="film">
    <p class="filmTitle"></p>
    <div class="filmInformation">
        <img >
        <div style="float:left;margin-left: 40px;width: 800px;">
            <p style="margin-top: 0;"></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div style="float:left;margin-left: 15px;height: 300px;width: 1px;background: gray;"></div>
        <div style="float: left;margin-left: 15px;">
            <h style="font-size: 20px;color: #9c9c9c">豆瓣评分</h>
            <div style="height: 50px;margin-top: 30px;">
                <h style="font-size: 40px;float: left;color: gray;font-weight: bold;"></h>
                <div style="float:left;margin-top: 15px;margin-left: 10px;">
                    <span class="star empty" title="1"><i></i></span>
                    <span class="star empty" title="2"><i></i></span>
                    <span class="star empty" title="3"><i></i></span>
                    <span class="star empty" title="4"><i></i></span>
                    <span class="star empty" title="5"><i></i></span>
                    <span style="margin-left: 60px;font-size: 20px;"></span>
                </div>
                </div>
                <div class="percent"></div>
                <div class="percent"></div>
                <div class="percent"></div>
                <div class="percent"></div>
                <div class="percent"></div>
            </div>
            </div>
            <div class="filmSummary"></div>
            <p style="width: 1000px;"></p>
        </div>
</div>
</body>
</html>